@model IEnumerable<Empleados_core_CRUD.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleado_Cod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado_Nomvre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado_Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado_Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado_Cod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado_Nomvre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado_Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado_Departamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Empleado_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Empleado_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Empleado_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
